@import "tailwindcss";

@theme {
  --color-primary: #222831;
  --color-primary-darkBlue: #1f5063; 

  --color-secundary-blue: #007e85;
  --color-secundary-green: #2fad8c;
  --color-secundary-lightGreen: #76ABAE;
  --color-secundary-white: #EEEEEE;

  --font-code: 'firaCode', sans-serif;
  --font-code-bold: 'firaCode-bold', sans-serif;



}

@font-face{
  font-family: 'firaCode';
  src: url('./fonts/FiraCode.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'firaCode-bold';
  src: url('./fonts/FiraCode-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}


