@import "tailwindcss";


@theme {
  --color-primary: #222831;
  --color-primary-darkBlue: #1f5063; 

  --color-secundary-blue: #007e85;
  --color-secundary-green: #2fad8c;
  --color-secundary-lightGreen: #76ABAE;
  --color-secundary-white: #EEEEEE;

  --font-code: 'firaCode', sans-serif;
  --font-code-bold: 'firaCode-bold', sans-serif;
  
}

@font-face{
  font-family: 'firaCode';
  src: url('./fonts/FiraCode.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'firaCode-bold';
  src: url('./fonts/FiraCode-SemiBold.woff2') format('woff2');
  font-style: normal;
  font-display: swap;
}

@layer utilities{
  .fondo {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, #222831 100%),  url("./Assets/bgCode2.gif"); 
    background-size:auto;
    background-position: center;
  }

}


@layer utilities{
  .fondo-scrum{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8))  , url("./Assets/imgScrum.jpg");
    transition: transform 0.3s ease-in-out;
  }
  .fondo-scrum:hover {
    transform: scale(1.1);
  }

  .fondo-react{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.8))  , url("./Assets/imgReact-Native.jpg");
    transition: transform 0.3s ease-in-out;
  }
  .fondo-react:hover {
    transform: scale(1.1);
  }
}


@layer utilities {
  @keyframes scroll {
    from {
      opacity: 0;
      transform: scale(0.1);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }

  .scroll-animation {
    view-timeline-name: --reveal;
    animation-name: scroll;
    animation-fill-mode: both;
    animation-timeline: --reveal;
    animation-range: entry 0% cover 40%;
  }
}
